body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color: #e0e0e0;

}

header{
    width: 100%;
    height: 50px;
    /* background-color: rgb(113, 74, 145); */
}

nav{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.navbar{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    text-transform: uppercase;
    font-size: 12px;
}

li{
    margin: 15px 15px;
}

.logo{
    height: 30px;
    margin: 15px 30px;
}

section{
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 0 0 0;
}

.about-me{
    width: 300px;
    margin: 30px;
    display: flex;
    justify-content: space-evenly;
}

.info{
    width: 300px;
    margin: 30px;
}

#main{
    box-shadow: 2px 2px 5px grey;
}

.hero{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* margin-top: 10px;
    margin-bottom: 10px;
    border: solid black 10px;
    border-radius: 15px; */
}

.hero-info{
    margin: 5px;
    max-width: 300px;
}

/* .second{
    width: 300px;
    height: 300px;
    background-color: red;
    margin: 5px;
} */

.hero-image{
    height: 300px;
    width: 300px;
    margin: 30px;
}

/* . is used to represent class*/
.avatar{
    width: 100px;
    border-radius: 50px;
}

/* # is used to represent id*/
#name{
    font-size: 45px;
}

/* 
FLXBOX
- Distributing Ites and space
- Direction Agnostic
- Flexibility
*/

.test{
    width: 30px;
    height: 30px;
    background-color: red;
    margin: 5px;
}

/* using .btn instead of .button */
.btn{
    border: 0;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #ef866c;
    width: 80px;
    border-radius: 20px;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    /* width: 150px;
    text-align: center;
    line-height: 2.5;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px #000;
    background-color: red;
    background-image: linear-gradient(to top left, rgba(0,0,0,0.2), rgba(0,0,0,0.2) 30%, rgba(0,0,0,0.2));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgb(0, 0,0, 0.6);
    border-radius: 10px; */
}

.btn:hover{
    background-color: #ef744b;
}

.btn:active{
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6);
}

form{
    margin: 0 0 40px 0;
}

.input-section{
    margin: 10px 0;
    display: flex;
}

.input-group{
    display: flex;
    flex-direction: column;
    margin: 0 5px 0 0;
}

footer{
    font-family: Arial, Helvetica, sans-serif;
}


/* To remove the lines from the hyperlink */
a{
    text-decoration: none;
    color: black;
}

a:visited{
    color: black;
}

a:hover{
    color: red;
}

a:active{
    color: purple;
}

.styled-break{
    width: 30px;
    height: 5px;
    background-color: #a17df4;
    border-radius: 2.5px;
    margin: 30px 0 30px 0;
    
}